

#header{
    display: flex;
    width: 100%;
    padding: 1rem 10rem;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
}
#header.scroll{
    background-color: var(--bgblur);
    backdrop-filter: blur(10px);
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
}
.logo h1{
    font-size:3rem ;
    font-weight:700 ;
    color: var(--prim);
}
.logo h1 span{
    color: var(--text);
    background-color: var(--sec);
    padding: .4rem;  
}
.logo h1 span::after{
    position: absolute;
    content: "";
    background-color: var(--prim);
    width: 3rem;
    height: 4rem;
    left: -1rem;
    bottom: 2rem;
    z-index: -1;
    
}
nav{
    display: flex;
    align-items: center;
}
nav  ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--text);
    font-weight: 400;
}

ul li a,.links a{
    color: var(--text);
    transition: .3s ease-in-out;
    padding: 0.5rem;

}
ul li a:hover{
    background-color:var(--prim);
    border-radius: 5px;
}

.links{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.links .cv{
    border: 1px solid var(--prim);
    background-color: var(--prim);
    transition: .3s ease-in-out;

}
.links a i{
    margin-right: 0.5rem;
}
.links a:hover{
    background-color: transparent;
}

.links .wts{
    border: 1px solid var(--prim);
    transition: .3s ease-in-out;

}
.links .wts:hover{
    background-color: var(--prim);
}