:root{
  --prim : #b06810;
  --primp : #b0681096;

  --sec : #151414;
  --secp : #1b1c1e;
  --text: #ffffff;
  --bgblur : #171717a3;
}

body{
  min-height: 100vh;
    background-image: url("./assets/IMG-20251002-WA0124.jpg");
    
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
  font-size: 1.rem;
}
p{
  font-weight: 400;
  font-size: 1rem;
}